@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  @media (min-width: 1024px) {
    html { scroll-padding-top: 6rem; }
  }
}

@layer components {
  .cal-selected {
    background-color: var(--color-stone-900);
    color: #fff;
    border-color: var(--color-stone-900) !important;
  }
  .cal-range {
    background-color: var(--color-stone-200);
  }
}
